# -- Conky settings -- #
background yes 								#áttetsző háttér
update_interval 0.1 							#frissítési idővallum másodpercben
cpu_avg_samples 2 							#cpu pontosabb monitorozásához
net_avg_samples 2 							#internet pontosabb monitorozása
override_utf8_locale yes 						#karakterkódolás felülbírálása
double_buffer yes							#nem villodzik az ablak
no_buffers yes
text_buffer_size 256 							#szöveg buffer mérete
imlib_cache_size 15000
max_specials 10000
max_user_text 15000
diskio_avg_samples 2 							#meghajtó pontosabb monitorozásához
format_human_readable yes 						#mértékegységek nem bájtokban
border_inner_margin 0							#keret és a margó távolsága
border_outer_margin 0							#ablak és a keret távolsága

# -- Window specifications -- #
own_window yes 								#saját ablakbeállítások bekapcsolása
own_window_type normal 							#ablaktípusok, override=ablakmenedzser szabályi nem vonatkoznak rá, desktop=díszítés nélküli panel=mindig felül,  dock=mindig felül, normal=normál
own_window_transparent yes 						#conky ablak átlátszóvá válik
own_window_argb_visual yes 						#átlátszó ablak
own_window_argb_value 0 						#átlátszóság mértéke 0-255
own_window_hints undecorate,skip_taskbar,skip_pager,below 	#ablak tulajdonságai below=alultartás skip_taskbar=tálca mellőzése undecorated=keret és gombok eltávolítása override=ablakkezelő felülbírálása sticky=minden munkaterületen 
own_window_title netanim
minimum_size 110 80 							#ablak minimum mérete
maximum_width 110 							#max szélesség
alignment top_left 							#jobb felső sarokba igazít
gap_x 880 								#x irányba eltolás
gap_y 420 								#y irányba eltolás

# -- Graphics settings -- #
draw_shades no								#szöveg árnyékolása
draw_outline no								#körülrajzolás
draw_borders no								#téglalap alakú keretet rajzol
draw_graph_borders no							#keret a grafikon köré
border_width 0 								#keret vastagsága

# -- Text settings -- #
use_xft yes 								#élsimítás
xftfont Droid Sans:size=8						#alapértelmezett betütípus
color1 92deee								#előre meghatározott szín
color2 668c95
color3 d0fefb
color4 2f3d40
color5 ff6c4a

TEXT

${if_existing /proc/net/route eth0}
${if_updatenr 1}${image ~/Oblivion/desk2/net/anim/001.png -p 0,7 -s 105x70}${endif}${if_updatenr 2}${image ~/Oblivion/desk2/net/anim/002.png -p 0,7 -s 105x70}${endif}${if_updatenr 3}${image ~/Oblivion/desk2/net/anim/003.png -p 0,7 -s 105x70}${endif}${if_updatenr 4}${image ~/Oblivion/desk2/net/anim/004.png -p 0,7 -s 105x70}${endif}${if_updatenr 5}${image ~/Oblivion/desk2/net/anim/005.png -p 0,7 -s 105x70}${endif}${if_updatenr 6}${image ~/Oblivion/desk2/net/anim/006.png -p 0,7 -s 105x70}${endif}${if_updatenr 7}${image ~/Oblivion/desk2/net/anim/007.png -p 0,7 -s 105x70}${endif}${if_updatenr 8}${image ~/Oblivion/desk2/net/anim/008.png -p 0,7 -s 105x70}${endif}${if_updatenr 9}${image ~/Oblivion/desk2/net/anim/009.png -p 0,7 -s 105x70}${endif}
${if_updatenr 10}${image ~/Oblivion/desk2/net/anim/010.png -p 0,7 -s 105x70}${endif}${if_updatenr 11}${image ~/Oblivion/desk2/net/anim/011.png -p 0,7 -s 105x70}${endif}${if_updatenr 12}${image ~/Oblivion/desk2/net/anim/012.png -p 0,7 -s 105x70}${endif}${if_updatenr 13}${image ~/Oblivion/desk2/net/anim/013.png -p 0,7 -s 105x70}${endif}${if_updatenr 14}${image ~/Oblivion/desk2/net/anim/014.png -p 0,7 -s 105x70}${endif}${if_updatenr 15}${image ~/Oblivion/desk2/net/anim/015.png -p 0,7 -s 105x70}${endif}${if_updatenr 16}${image ~/Oblivion/desk2/net/anim/016.png -p 0,7 -s 105x70}${endif}${if_updatenr 17}${image ~/Oblivion/desk2/net/anim/017.png -p 0,7 -s 105x70}${endif}${if_updatenr 18}${image ~/Oblivion/desk2/net/anim/018.png -p 0,7 -s 105x70}${endif}${if_updatenr 19}${image ~/Oblivion/desk2/net/anim/019.png -p 0,7 -s 105x70}${endif}
${if_updatenr 20}${image ~/Oblivion/desk2/net/anim/020.png -p 0,7 -s 105x70}${endif}${if_updatenr 21}${image ~/Oblivion/desk2/net/anim/021.png -p 0,7 -s 105x70}${endif}${if_updatenr 22}${image ~/Oblivion/desk2/net/anim/022.png -p 0,7 -s 105x70}${endif}${if_updatenr 23}${image ~/Oblivion/desk2/net/anim/023.png -p 0,7 -s 105x70}${endif}${if_updatenr 24}${image ~/Oblivion/desk2/net/anim/024.png -p 0,7 -s 105x70}${endif}${if_updatenr 25}${image ~/Oblivion/desk2/net/anim/025.png -p 0,7 -s 105x70}${endif}${if_updatenr 26}${image ~/Oblivion/desk2/net/anim/026.png -p 0,7 -s 105x70}${endif}${if_updatenr 27}${image ~/Oblivion/desk2/net/anim/027.png -p 0,7 -s 105x70}${endif}${if_updatenr 28}${image ~/Oblivion/desk2/net/anim/028.png -p 0,7 -s 105x70}${endif}${if_updatenr 29}${image ~/Oblivion/desk2/net/anim/029.png -p 0,7 -s 105x70}${endif}
${if_updatenr 30}${image ~/Oblivion/desk2/net/anim/030.png -p 0,7 -s 105x70}${endif}${if_updatenr 31}${image ~/Oblivion/desk2/net/anim/031.png -p 0,7 -s 105x70}${endif}${if_updatenr 32}${image ~/Oblivion/desk2/net/anim/032.png -p 0,7 -s 105x70}${endif}${if_updatenr 33}${image ~/Oblivion/desk2/net/anim/033.png -p 0,7 -s 105x70}${endif}${if_updatenr 34}${image ~/Oblivion/desk2/net/anim/034.png -p 0,7 -s 105x70}${endif}${if_updatenr 35}${image ~/Oblivion/desk2/net/anim/035.png -p 0,7 -s 105x70}${endif}${if_updatenr 36}${image ~/Oblivion/desk2/net/anim/036.png -p 0,7 -s 105x70}${endif}${if_updatenr 37}${image ~/Oblivion/desk2/net/anim/037.png -p 0,7 -s 105x70}${endif}${if_updatenr 38}${image ~/Oblivion/desk2/net/anim/038.png -p 0,7 -s 105x70}${endif}${if_updatenr 39}${image ~/Oblivion/desk2/net/anim/039.png -p 0,7 -s 105x70}${endif}
${if_updatenr 40}${image ~/Oblivion/desk2/net/anim/040.png -p 0,7 -s 105x70}${endif}${if_updatenr 41}${image ~/Oblivion/desk2/net/anim/041.png -p 0,7 -s 105x70}${endif}${if_updatenr 42}${image ~/Oblivion/desk2/net/anim/042.png -p 0,7 -s 105x70}${endif}${if_updatenr 43}${image ~/Oblivion/desk2/net/anim/043.png -p 0,7 -s 105x70}${endif}${if_updatenr 44}${image ~/Oblivion/desk2/net/anim/044.png -p 0,7 -s 105x70}${endif}${if_updatenr 45}${image ~/Oblivion/desk2/net/anim/045.png -p 0,7 -s 105x70}${endif}${if_updatenr 46}${image ~/Oblivion/desk2/net/anim/046.png -p 0,7 -s 105x70}${endif}${if_updatenr 47}${image ~/Oblivion/desk2/net/anim/047.png -p 0,7 -s 105x70}${endif}${if_updatenr 48}${image ~/Oblivion/desk2/net/anim/048.png -p 0,7 -s 105x70}${endif}${if_updatenr 49}${image ~/Oblivion/desk2/net/anim/049.png -p 0,7 -s 105x70}${endif}
${if_updatenr 50}${image ~/Oblivion/desk2/net/anim/050.png -p 0,7 -s 105x70}${endif}${if_updatenr 51}${image ~/Oblivion/desk2/net/anim/051.png -p 0,7 -s 105x70}${endif}${if_updatenr 52}${image ~/Oblivion/desk2/net/anim/052.png -p 0,7 -s 105x70}${endif}${if_updatenr 53}${image ~/Oblivion/desk2/net/anim/053.png -p 0,7 -s 105x70}${endif}${if_updatenr 54}${image ~/Oblivion/desk2/net/anim/054.png -p 0,7 -s 105x70}${endif}${if_updatenr 55}${image ~/Oblivion/desk2/net/anim/055.png -p 0,7 -s 105x70}${endif}${if_updatenr 56}${image ~/Oblivion/desk2/net/anim/056.png -p 0,7 -s 105x70}${endif}${if_updatenr 57}${image ~/Oblivion/desk2/net/anim/057.png -p 0,7 -s 105x70}${endif}${if_updatenr 58}${image ~/Oblivion/desk2/net/anim/058.png -p 0,7 -s 105x70}${endif}${if_updatenr 59}${image ~/Oblivion/desk2/net/anim/059.png -p 0,7 -s 105x70}${endif}
${if_updatenr 60}${image ~/Oblivion/desk2/net/anim/060.png -p 0,7 -s 105x70}${endif}${if_updatenr 61}${image ~/Oblivion/desk2/net/anim/061.png -p 0,7 -s 105x70}${endif}${if_updatenr 62}${image ~/Oblivion/desk2/net/anim/062.png -p 0,7 -s 105x70}${endif}${if_updatenr 63}${image ~/Oblivion/desk2/net/anim/063.png -p 0,7 -s 105x70}${endif}${if_updatenr 64}${image ~/Oblivion/desk2/net/anim/064.png -p 0,7 -s 105x70}${endif}${if_updatenr 65}${image ~/Oblivion/desk2/net/anim/065.png -p 0,7 -s 105x70}${endif}${if_updatenr 66}${image ~/Oblivion/desk2/net/anim/066.png -p 0,7 -s 105x70}${endif}${if_updatenr 67}${image ~/Oblivion/desk2/net/anim/067.png -p 0,7 -s 105x70}${endif}${if_updatenr 68}${image ~/Oblivion/desk2/net/anim/068.png -p 0,7 -s 105x70}${endif}${if_updatenr 69}${image ~/Oblivion/desk2/net/anim/069.png -p 0,7 -s 105x70}${endif}
${if_updatenr 70}${image ~/Oblivion/desk2/net/anim/070.png -p 0,7 -s 105x70}${endif}${if_updatenr 71}${image ~/Oblivion/desk2/net/anim/071.png -p 0,7 -s 105x70}${endif}${if_updatenr 72}${image ~/Oblivion/desk2/net/anim/072.png -p 0,7 -s 105x70}${endif}${if_updatenr 73}${image ~/Oblivion/desk2/net/anim/073.png -p 0,7 -s 105x70}${endif}${if_updatenr 74}${image ~/Oblivion/desk2/net/anim/074.png -p 0,7 -s 105x70}${endif}${if_updatenr 75}${image ~/Oblivion/desk2/net/anim/075.png -p 0,7 -s 105x70}${endif}${if_updatenr 76}${image ~/Oblivion/desk2/net/anim/076.png -p 0,7 -s 105x70}${endif}${if_updatenr 77}${image ~/Oblivion/desk2/net/anim/077.png -p 0,7 -s 105x70}${endif}${if_updatenr 78}${image ~/Oblivion/desk2/net/anim/078.png -p 0,7 -s 105x70}${endif}${if_updatenr 79}${image ~/Oblivion/desk2/net/anim/079.png -p 0,7 -s 105x70}${endif}
${if_updatenr 80}${image ~/Oblivion/desk2/net/anim/080.png -p 0,7 -s 105x70}${endif}${if_updatenr 81}${image ~/Oblivion/desk2/net/anim/081.png -p 0,7 -s 105x70}${endif}${if_updatenr 82}${image ~/Oblivion/desk2/net/anim/082.png -p 0,7 -s 105x70}${endif}${if_updatenr 83}${image ~/Oblivion/desk2/net/anim/083.png -p 0,7 -s 105x70}${endif}${if_updatenr 84}${image ~/Oblivion/desk2/net/anim/084.png -p 0,7 -s 105x70}${endif}${if_updatenr 85}${image ~/Oblivion/desk2/net/anim/085.png -p 0,7 -s 105x70}${endif}${if_updatenr 86}${image ~/Oblivion/desk2/net/anim/086.png -p 0,7 -s 105x70}${endif}${if_updatenr 87}${image ~/Oblivion/desk2/net/anim/087.png -p 0,7 -s 105x70}${endif}${if_updatenr 88}${image ~/Oblivion/desk2/net/anim/088.png -p 0,7 -s 105x70}${endif}${if_updatenr 89}${image ~/Oblivion/desk2/net/anim/089.png -p 0,7 -s 105x70}${endif}
${if_updatenr 90}${image ~/Oblivion/desk2/net/anim/090.png -p 0,7 -s 105x70}${endif}${if_updatenr 91}${image ~/Oblivion/desk2/net/anim/091.png -p 0,7 -s 105x70}${endif}${if_updatenr 92}${image ~/Oblivion/desk2/net/anim/092.png -p 0,7 -s 105x70}${endif}${if_updatenr 93}${image ~/Oblivion/desk2/net/anim/093.png -p 0,7 -s 105x70}${endif}${if_updatenr 94}${image ~/Oblivion/desk2/net/anim/094.png -p 0,7 -s 105x70}${endif}${if_updatenr 95}${image ~/Oblivion/desk2/net/anim/095.png -p 0,7 -s 105x70}${endif}${if_updatenr 96}${image ~/Oblivion/desk2/net/anim/096.png -p 0,7 -s 105x70}${endif}${if_updatenr 97}${image ~/Oblivion/desk2/net/anim/097.png -p 0,7 -s 105x70}${endif}${if_updatenr 98}${image ~/Oblivion/desk2/net/anim/098.png -p 0,7 -s 105x70}${endif}${if_updatenr 99}${image ~/Oblivion/desk2/net/anim/099.png -p 0,7 -s 105x70}${endif}
${if_updatenr 100}${image ~/Oblivion/desk2/net/anim/100.png -p 0,7 -s 105x70}${endif}${if_updatenr 101}${image ~/Oblivion/desk2/net/anim/101.png -p 0,7 -s 105x70}${endif}${if_updatenr 102}${image ~/Oblivion/desk2/net/anim/102.png -p 0,7 -s 105x70}${endif}${if_updatenr 103}${image ~/Oblivion/desk2/net/anim/103.png -p 0,7 -s 105x70}${endif}${if_updatenr 104}${image ~/Oblivion/desk2/net/anim/104.png -p 0,7 -s 105x70}${endif}${if_updatenr 105}${image ~/Oblivion/desk2/net/anim/105.png -p 0,7 -s 105x70}${endif}${if_updatenr 106}${image ~/Oblivion/desk2/net/anim/106.png -p 0,7 -s 105x70}${endif}${if_updatenr 107}${image ~/Oblivion/desk2/net/anim/107.png -p 0,7 -s 105x70}${endif}${if_updatenr 108}${image ~/Oblivion/desk2/net/anim/108.png -p 0,7 -s 105x70}${endif}${if_updatenr 109}${image ~/Oblivion/desk2/net/anim/109.png -p 0,7 -s 105x70}${endif}
${if_updatenr 110}${image ~/Oblivion/desk2/net/anim/110.png -p 0,7 -s 105x70}${endif}${if_updatenr 111}${image ~/Oblivion/desk2/net/anim/111.png -p 0,7 -s 105x70}${endif}${if_updatenr 112}${image ~/Oblivion/desk2/net/anim/112.png -p 0,7 -s 105x70}${endif}${if_updatenr 113}${image ~/Oblivion/desk2/net/anim/113.png -p 0,7 -s 105x70}${endif}${if_updatenr 114}${image ~/Oblivion/desk2/net/anim/114.png -p 0,7 -s 105x70}${endif}${if_updatenr 115}${image ~/Oblivion/desk2/net/anim/115.png -p 0,7 -s 105x70}${endif}${if_updatenr 116}${image ~/Oblivion/desk2/net/anim/116.png -p 0,7 -s 105x70}${endif}${if_updatenr 117}${image ~/Oblivion/desk2/net/anim/117.png -p 0,7 -s 105x70}${endif}${if_updatenr 118}${image ~/Oblivion/desk2/net/anim/118.png -p 0,7 -s 105x70}${endif}${if_updatenr 119}${image ~/Oblivion/desk2/net/anim/119.png -p 0,7 -s 105x70}${endif}
${if_updatenr 120}${image ~/Oblivion/desk2/net/anim/120.png -p 0,7 -s 105x70}${endif}${if_updatenr 121}${image ~/Oblivion/desk2/net/anim/121.png -p 0,7 -s 105x70}${endif}${if_updatenr 122}${image ~/Oblivion/desk2/net/anim/122.png -p 0,7 -s 105x70}${endif}${if_updatenr 123}${image ~/Oblivion/desk2/net/anim/123.png -p 0,7 -s 105x70}${endif}${if_updatenr 124}${image ~/Oblivion/desk2/net/anim/124.png -p 0,7 -s 105x70}${endif}${if_updatenr 125}${image ~/Oblivion/desk2/net/anim/125.png -p 0,7 -s 105x70}${endif}${if_updatenr 126}${image ~/Oblivion/desk2/net/anim/126.png -p 0,7 -s 105x70}${endif}${if_updatenr 127}${image ~/Oblivion/desk2/net/anim/127.png -p 0,7 -s 105x70}${endif}${if_updatenr 128}${image ~/Oblivion/desk2/net/anim/128.png -p 0,7 -s 105x70}${endif}${if_updatenr 129}${image ~/Oblivion/desk2/net/anim/129.png -p 0,7 -s 105x70}${endif}
${if_updatenr 130}${image ~/Oblivion/desk2/net/anim/130.png -p 0,7 -s 105x70}${endif}${if_updatenr 131}${image ~/Oblivion/desk2/net/anim/131.png -p 0,7 -s 105x70}${endif}${if_updatenr 132}${image ~/Oblivion/desk2/net/anim/132.png -p 0,7 -s 105x70}${endif}${if_updatenr 133}${image ~/Oblivion/desk2/net/anim/133.png -p 0,7 -s 105x70}${endif}${if_updatenr 134}${image ~/Oblivion/desk2/net/anim/134.png -p 0,7 -s 105x70}${endif}${if_updatenr 135}${image ~/Oblivion/desk2/net/anim/135.png -p 0,7 -s 105x70}${endif}${if_updatenr 136}${image ~/Oblivion/desk2/net/anim/136.png -p 0,7 -s 105x70}${endif}${if_updatenr 137}${image ~/Oblivion/desk2/net/anim/137.png -p 0,7 -s 105x70}${endif}${if_updatenr 138}${image ~/Oblivion/desk2/net/anim/138.png -p 0,7 -s 105x70}${endif}${if_updatenr 139}${image ~/Oblivion/desk2/net/anim/139.png -p 0,7 -s 105x70}${endif}
${if_updatenr 140}${image ~/Oblivion/desk2/net/anim/140.png -p 0,7 -s 105x70}${endif}${if_updatenr 141}${image ~/Oblivion/desk2/net/anim/141.png -p 0,7 -s 105x70}${endif}${if_updatenr 142}${image ~/Oblivion/desk2/net/anim/142.png -p 0,7 -s 105x70}${endif}${if_updatenr 143}${image ~/Oblivion/desk2/net/anim/143.png -p 0,7 -s 105x70}${endif}${if_updatenr 144}${image ~/Oblivion/desk2/net/anim/144.png -p 0,7 -s 105x70}${endif}${if_updatenr 145}${image ~/Oblivion/desk2/net/anim/145.png -p 0,7 -s 105x70}${endif}${if_updatenr 146}${image ~/Oblivion/desk2/net/anim/146.png -p 0,7 -s 105x70}${endif}${if_updatenr 147}${image ~/Oblivion/desk2/net/anim/147.png -p 0,7 -s 105x70}${endif}${if_updatenr 148}${image ~/Oblivion/desk2/net/anim/148.png -p 0,7 -s 105x70}${endif}${if_updatenr 149}${image ~/Oblivion/desk2/net/anim/149.png -p 0,7 -s 105x70}${endif}
${if_updatenr 150}${image ~/Oblivion/desk2/net/anim/150.png -p 0,7 -s 105x70}${endif}${if_updatenr 151}${image ~/Oblivion/desk2/net/anim/151.png -p 0,7 -s 105x70}${endif}${if_updatenr 152}${image ~/Oblivion/desk2/net/anim/152.png -p 0,7 -s 105x70}${endif}${if_updatenr 153}${image ~/Oblivion/desk2/net/anim/153.png -p 0,7 -s 105x70}${endif}${if_updatenr 154}${image ~/Oblivion/desk2/net/anim/154.png -p 0,7 -s 105x70}${endif}${if_updatenr 155}${image ~/Oblivion/desk2/net/anim/155.png -p 0,7 -s 105x70}${endif}${if_updatenr 156}${image ~/Oblivion/desk2/net/anim/156.png -p 0,7 -s 105x70}${endif}${if_updatenr 157}${image ~/Oblivion/desk2/net/anim/157.png -p 0,7 -s 105x70}${endif}${if_updatenr 158}${image ~/Oblivion/desk2/net/anim/158.png -p 0,7 -s 105x70}${endif}${if_updatenr 159}${image ~/Oblivion/desk2/net/anim/159.png -p 0,7 -s 105x70}${endif}
${if_updatenr 160}${image ~/Oblivion/desk2/net/anim/160.png -p 0,7 -s 105x70}${endif}${if_updatenr 161}${image ~/Oblivion/desk2/net/anim/161.png -p 0,7 -s 105x70}${endif}
${endif}